<footer>
    <div class="footer" style="height: 7.5rem;">

        <div class="f-social">
        
        <a href="https://github.com/NischayHR-11"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/nischay_achar"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/nischayhr"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/NischayHR-11"><i class="fa-brands fa-square-github"></i></a>
        
        </div>

        <div class="f-brand" style="height: 1rem;">
            <i class="fa-regular fa-copyright" style="margin-right: 1rem;"></i>Online Test Private Limited
        </div>

        <div class="f-links" style="height: 1rem;">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>