<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" style="height: 6rem;margin-bottom: 2rem;background-color: white;">

    <div class="container-fluid" style="font-weight: 500;font-size: larger;">
      <a class="navbar-brand" href="/" style="margin-right: 5rem;">Online test</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-white p-4" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-lg-5">
          
        </div>

      </div>
    </div>
</nav>