/* Custom Styling for Hero Section */
.hero-section {
    background-color: #242e80;
    color: white;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px; /* Added padding to avoid overlap with navbar */
    padding-bottom: 60px; /* Added bottom padding for spacing */
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    height: 100%;
    text-align: left; /* Ensures text aligns left on larger screens */
}

.hero-section h1 {
    font-weight: 800;
    font-size: 4rem;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-section .btn-primary {
    background-color: #5ebd84;
    border: 1px solid rgb(94, 189, 132);
    font-size: 18px;
    color: black;
}

.hero-section .btn-secondary {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
}

.hero-buttons {
    display: flex;
    width: 100%;
    gap: 10px;
}

.hero-buttons .btn {
    flex: 1;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 2em;
}

/* Responsive Styling for Small Screens */
@media (max-width: 767.98px) {
    /* Ensure image is on top */
    .image-container {
        order: -1; /* Moves the image to the top */
        width: 100%;
        padding-bottom: 20px;
    }

    .hero-content {
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .hero-buttons {
        flex-direction: column; /* Stack buttons vertically */
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .hero-buttons .btn {
        width: 100%; /* Make each button span the full width of the container */
    }

    .hero-section h1 {
        font-size: 2.5rem; /* Reduced font size for smaller screens */
    }

    .hero-section p {
        font-size: 1rem; /* Reduced font size for smaller screens */
    }
}

/* Styling for the Hero Section Image */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 50vh; /* Adjusted max-height for better responsiveness */
}

/* @media (max-width: 575px) {

    .container-middle{
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        overflow:auto;
    }

    .middleremove{
        display: none !important;
    }

    .section-center{
        padding: 0px !important;
    }

    .gapremove{
        gap: 5px !important;
    }

    .headings h1, .headings h2{

        font-size: 16px !important;
        margin-bottom: 5px;
        margin-top: 2rem;
    }
} */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
}

main {
    flex: 1;
}

footer{
    bottom: 0;
}
@media (min-width: 992px){
    .navbar-brand{
        margin-left: 50px;
    }
}