<% layout("/layouts/boilerplateuser") %>
<body>
    <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
        <form id="startTestForm" action="/startTest/<%=id %>/instructions" method="GET" class="col-md-6" 
              style="background-color: #f2f2f2; height: auto; width: 80%; display: flex; align-items: center; justify-content: center; 
                     border-radius: 1rem; padding: 1rem; overflow-wrap: break-word;">
          <p style="text-align: center; word-break: break-word;">
            Test Link: &nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="https://proctorpro-c9ba.onrender.com/startTest/<%=id %>/instructions" id="startTestLink" 
               style="word-wrap: break-word; display: inline-block;">
                https://proctorpro-c9ba.onrender.com/startTest/<%=id %>/instructions
            </a>
          </p> 
        </form>
    </div>
    
    <script>
        document.getElementById("startTestLink").addEventListener("click", function() {
            document.getElementById("startTestForm").submit();
        });
    </script>
</body>

